In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/facebook/reaction_counts.csv")

In [3]:
df.columns

Index(['status_id', 'status_message', 'link_name', 'status_type',
       'status_link', 'status_published', 'num_reactions', 'num_comments',
       'num_shares', 'num_likes', 'num_loves', 'num_wows', 'num_hahas',
       'num_sads', 'num_angrys'],
      dtype='object')

In [4]:
df.head()

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,153080620724_10157915294545725,Beautiful evening in Wisconsin- THANK YOU for ...,Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-17T20:56:51,6813,543,359,6178,572,39,17,0,7
1,153080620724_10157914483265725,The State Department's quid pro quo scheme pro...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T18:00:41,33768,3644,17653,26649,487,1155,75,191,5211
2,153080620724_10157913199155725,Crooked Hillary's State Department colluded wi...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T15:34:46,85627,8810,32594,73519,2943,1020,330,263,7552
3,153080620724_10157912962325725,"JournoCash: Media gives $382,000 to Clinton, $...","JournoCash: Media gives $382,000 to Clinton, $...",link,http://www.washingtonexaminer.com/journocash-m...,2016-10-17T14:17:24,22696,3665,5082,14029,122,2091,241,286,5927
4,153080620724_10157912187170725,"Exclusive: ""O'Keefe Video Sting Exposes 'Bird-...",O'Keefe Reveals 'Bird-Dogging' to Incite Viole...,link,http://www.breitbart.com/big-government/2016/1...,2016-10-17T12:03:19,40729,4905,17087,26472,178,2588,154,417,10922

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4160 entries, 0 to 4159
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         4160 non-null   object
 1   status_message    3793 non-null   object
 2   link_name         2715 non-null   object
 3   status_type       4160 non-null   object
 4   status_link       2983 non-null   object
 5   status_published  4160 non-null   object
 6   num_reactions     4160 non-null   int64
 7   num_comments      4160 non-null   int64
 8   num_shares        4160 non-null   int64
 9   num_likes         4160 non-null   int64
 10  num_loves         4160 non-null   int64
 11  num_wows          4160 non-null   int64
 12  num_hahas         4160 non-null   int64
 13  num_sads          4160 non-null   int64
 14  num_angrys        4160 non-null   int64
dtypes: int64(9), object(6)
memory usage: 487.6+ KB

In [6]:
df.describe()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
count,4.160000e+03,4160.000000,4160.000000,4.160000e+03,4160.000000,4160.000000,4160.000000,4160.000000,4160.000000
mean,5.615623e+04,5110.989904,7559.597115,5.304939e+04,1852.617548,167.143510,405.795192,129.878365,545.483654
std,6.476866e+04,10733.173912,25141.062901,6.117745e+04,3710.897388,591.494191,2402.593975,961.554830,2532.714733
min,7.000000e+00,3.000000,0.000000,7.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.306250e+03,816.000000,337.500000,9.277250e+03,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.259600e+04,3456.000000,3146.500000,3.996450e+04,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.010175e+04,6255.000000,7562.500000,7.551600e+04,2679.250000,163.250000,176.000000,28.000000,218.250000
max,1.117712e+06,319745.000000,812775.000000,1.117712e+06,53786.000000,27889.000000,81198.000000,22576.000000,84015.000000

In [7]:
df["num_shares"]

0         359
1       17653
2       32594
3        5082
4       17087
        ...
4155        3
4156        6
4157        2
4158        0
4159        9
Name: num_shares, Length: 4160, dtype: int64

In [8]:
df.loc[4156]

status_id                                    153080620724_96770601006
status_message      - Who do you think will be fired on Celebrity ...
link_name                                                         NaN
status_type                                                    status
status_link                                                       NaN
status_published                                  2009-04-19T17:18:16
num_reactions                                                     140
num_comments                                                      111
num_shares                                                          6
num_likes                                                         140
num_loves                                                           0
num_wows                                                            0
num_hahas                                                           0
num_sads                                                            0
num_angrys                                                          0
Name: 4156, dtype: object

In [9]:
df[["num_reactions", "num_hahas"]]

      num_reactions  num_hahas
0              6813         17
1             33768         75
2             85627        330
3             22696        241
4             40729        154
...             ...        ...
4155            152          0
4156            140          0
4157            137          0
4158            136          0
4159            209          0

[4160 rows x 2 columns]

In [10]:
df["num_hahas"].to_frame()

      num_hahas
0            17
1            75
2           330
3           241
4           154
...         ...
4155          0
4156          0
4157          0
4158          0
4159          0

[4160 rows x 1 columns]

In [11]:
df.loc[[4155, 4158]]

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
4155,153080620724_86348879816,- Check out the official website for Donald Tr...,NaN,status,NaN,2009-04-20T08:44:07,152,43,3,152,0,0,0,0,0
4158,153080620724_71666378535,Watch Donald J. Trump on Larry King Live: http...,NaN,status,NaN,2009-04-16T10:05:34,136,66,0,136,0,0,0,0,0

In [12]:
df.loc[[4155, 4158], :]

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
4155,153080620724_86348879816,- Check out the official website for Donald Tr...,NaN,status,NaN,2009-04-20T08:44:07,152,43,3,152,0,0,0,0,0
4158,153080620724_71666378535,Watch Donald J. Trump on Larry King Live: http...,NaN,status,NaN,2009-04-16T10:05:34,136,66,0,136,0,0,0,0,0

In [13]:
df.loc[:, ["status_id", "link_name"]]

,status_id,link_name
0,153080620724_10157915294545725,Timeline Photos
1,153080620724_10157914483265725,NaN
2,153080620724_10157913199155725,NaN
3,153080620724_10157912962325725,"JournoCash: Media gives $382,000 to Clinton, $..."
4,153080620724_10157912187170725,O'Keefe Reveals 'Bird-Dogging' to Incite Viole...
...,...,...
4155,153080620724_86348879816,NaN
4156,153080620724_96770601006,NaN
4157,153080620724_85435041544,NaN
4158,153080620724_71666378535,NaN
4159,153080620724_162861335065,NaN

In [14]:
df[df["num_shares"] >= 3000]

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
1,153080620724_10157914483265725,The State Department's quid pro quo scheme pro...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T18:00:41,33768,3644,17653,26649,487,1155,75,191,5211
2,153080620724_10157913199155725,Crooked Hillary's State Department colluded wi...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T15:34:46,85627,8810,32594,73519,2943,1020,330,263,7552
3,153080620724_10157912962325725,"JournoCash: Media gives $382,000 to Clinton, $...","JournoCash: Media gives $382,000 to Clinton, $...",link,http://www.washingtonexaminer.com/journocash-m...,2016-10-17T14:17:24,22696,3665,5082,14029,122,2091,241,286,5927
4,153080620724_10157912187170725,"Exclusive: ""O'Keefe Video Sting Exposes 'Bird-...",O'Keefe Reveals 'Bird-Dogging' to Incite Viole...,link,http://www.breitbart.com/big-government/2016/1...,2016-10-17T12:03:19,40729,4905,17087,26472,178,2588,154,417,10922
5,153080620724_10157911744440725,Of course there is large scale voter fraud hap...,NaN,status,NaN,2016-10-17T11:00:12,51108,6773,3266,45046,684,213,229,290,4646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3724,153080620724_10152237431910725,Our country is now in serious and unprecedente...,NaN,status,NaN,2012-11-07T00:18:58,213187,25112,5190,213187,0,0,0,0,0
3758,153080620724_10152199183755725,"As stated, here is the press release.",Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2012-10-24T11:15:33,32807,12519,8289,32807,0,0,0,0,0
3759,153080620724_490937194272914,You have all been waiting--- the response has ...,From the Desk of Donald Trump: Major Announcement,video,http://www.youtube.com/watch?v=MgOq9pBkY0I,2012-10-24T11:00:45,12294,6035,7475,12294,0,0,0,0,0
3763,153080620724_10152194743380725,Stop congratulating Obama for killing Bin Lade...,NaN,status,NaN,2012-10-22T20:12:40,1117712,71062,15639,1117712,0,0,0,0,0
3780,153080620724_10152175316785725,I have never seen a thin person drinking Diet ...,NaN,status,NaN,2012-10-15T10:12:28,27655,4587,19206,27655,0,0,0,0,0

In [15]:
df.loc[df["num_shares"] >= 3000]

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
1,153080620724_10157914483265725,The State Department's quid pro quo scheme pro...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T18:00:41,33768,3644,17653,26649,487,1155,75,191,5211
2,153080620724_10157913199155725,Crooked Hillary's State Department colluded wi...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T15:34:46,85627,8810,32594,73519,2943,1020,330,263,7552
3,153080620724_10157912962325725,"JournoCash: Media gives $382,000 to Clinton, $...","JournoCash: Media gives $382,000 to Clinton, $...",link,http://www.washingtonexaminer.com/journocash-m...,2016-10-17T14:17:24,22696,3665,5082,14029,122,2091,241,286,5927
4,153080620724_10157912187170725,"Exclusive: ""O'Keefe Video Sting Exposes 'Bird-...",O'Keefe Reveals 'Bird-Dogging' to Incite Viole...,link,http://www.breitbart.com/big-government/2016/1...,2016-10-17T12:03:19,40729,4905,17087,26472,178,2588,154,417,10922
5,153080620724_10157911744440725,Of course there is large scale voter fraud hap...,NaN,status,NaN,2016-10-17T11:00:12,51108,6773,3266,45046,684,213,229,290,4646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3724,153080620724_10152237431910725,Our country is now in serious and unprecedente...,NaN,status,NaN,2012-11-07T00:18:58,213187,25112,5190,213187,0,0,0,0,0
3758,153080620724_10152199183755725,"As stated, here is the press release.",Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2012-10-24T11:15:33,32807,12519,8289,32807,0,0,0,0,0
3759,153080620724_490937194272914,You have all been waiting--- the response has ...,From the Desk of Donald Trump: Major Announcement,video,http://www.youtube.com/watch?v=MgOq9pBkY0I,2012-10-24T11:00:45,12294,6035,7475,12294,0,0,0,0,0
3763,153080620724_10152194743380725,Stop congratulating Obama for killing Bin Lade...,NaN,status,NaN,2012-10-22T20:12:40,1117712,71062,15639,1117712,0,0,0,0,0
3780,153080620724_10152175316785725,I have never seen a thin person drinking Diet ...,NaN,status,NaN,2012-10-15T10:12:28,27655,4587,19206,27655,0,0,0,0,0

In [16]:
df.loc[df["num_shares"] >= 3000, :]

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
1,153080620724_10157914483265725,The State Department's quid pro quo scheme pro...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T18:00:41,33768,3644,17653,26649,487,1155,75,191,5211
2,153080620724_10157913199155725,Crooked Hillary's State Department colluded wi...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T15:34:46,85627,8810,32594,73519,2943,1020,330,263,7552
3,153080620724_10157912962325725,"JournoCash: Media gives $382,000 to Clinton, $...","JournoCash: Media gives $382,000 to Clinton, $...",link,http://www.washingtonexaminer.com/journocash-m...,2016-10-17T14:17:24,22696,3665,5082,14029,122,2091,241,286,5927
4,153080620724_10157912187170725,"Exclusive: ""O'Keefe Video Sting Exposes 'Bird-...",O'Keefe Reveals 'Bird-Dogging' to Incite Viole...,link,http://www.breitbart.com/big-government/2016/1...,2016-10-17T12:03:19,40729,4905,17087,26472,178,2588,154,417,10922
5,153080620724_10157911744440725,Of course there is large scale voter fraud hap...,NaN,status,NaN,2016-10-17T11:00:12,51108,6773,3266,45046,684,213,229,290,4646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3724,153080620724_10152237431910725,Our country is now in serious and unprecedente...,NaN,status,NaN,2012-11-07T00:18:58,213187,25112,5190,213187,0,0,0,0,0
3758,153080620724_10152199183755725,"As stated, here is the press release.",Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2012-10-24T11:15:33,32807,12519,8289,32807,0,0,0,0,0
3759,153080620724_490937194272914,You have all been waiting--- the response has ...,From the Desk of Donald Trump: Major Announcement,video,http://www.youtube.com/watch?v=MgOq9pBkY0I,2012-10-24T11:00:45,12294,6035,7475,12294,0,0,0,0,0
3763,153080620724_10152194743380725,Stop congratulating Obama for killing Bin Lade...,NaN,status,NaN,2012-10-22T20:12:40,1117712,71062,15639,1117712,0,0,0,0,0
3780,153080620724_10152175316785725,I have never seen a thin person drinking Diet ...,NaN,status,NaN,2012-10-15T10:12:28,27655,4587,19206,27655,0,0,0,0,0

In [17]:
new_df = df.assign(
    likes_share_ratio=lambda df: df["num_likes"] / df["num_shares"]
)

In [18]:
new_df

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,likes_share_ratio
0,153080620724_10157915294545725,Beautiful evening in Wisconsin- THANK YOU for ...,Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-17T20:56:51,6813,543,359,6178,572,39,17,0,7,17.208914
1,153080620724_10157914483265725,The State Department's quid pro quo scheme pro...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T18:00:41,33768,3644,17653,26649,487,1155,75,191,5211,1.509602
2,153080620724_10157913199155725,Crooked Hillary's State Department colluded wi...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T15:34:46,85627,8810,32594,73519,2943,1020,330,263,7552,2.255599
3,153080620724_10157912962325725,"JournoCash: Media gives $382,000 to Clinton, $...","JournoCash: Media gives $382,000 to Clinton, $...",link,http://www.washingtonexaminer.com/journocash-m...,2016-10-17T14:17:24,22696,3665,5082,14029,122,2091,241,286,5927,2.760527
4,153080620724_10157912187170725,"Exclusive: ""O'Keefe Video Sting Exposes 'Bird-...",O'Keefe Reveals 'Bird-Dogging' to Incite Viole...,link,http://www.breitbart.com/big-government/2016/1...,2016-10-17T12:03:19,40729,4905,17087,26472,178,2588,154,417,10922,1.549248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4155,153080620724_86348879816,- Check out the official website for Donald Tr...,NaN,status,NaN,2009-04-20T08:44:07,152,43,3,152,0,0,0,0,0,50.666667
4156,153080620724_96770601006,- Who do you think will be fired on Celebrity ...,NaN,status,NaN,2009-04-19T17:18:16,140,111,6,140,0,0,0,0,0,23.333333
4157,153080620724_85435041544,Follow Donald J. Trump on Twitter: http://twit...,NaN,status,NaN,2009-04-16T17:44:23,137,60,2,137,0,0,0,0,0,68.500000
4158,153080620724_71666378535,Watch Donald J. Trump on Larry King Live: http...,NaN,status,NaN,2009-04-16T10:05:34,136,66,0,136,0,0,0,0,0,inf
4159,153080620724_162861335065,Watch Donald Trump on Good Morning America: ht...,NaN,status,NaN,2009-04-16T09:53:00,209,205,9,209,0,0,0,0,0,23.222222

In [19]:
df.set_index("status_id").reset_index()

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,153080620724_10157915294545725,Beautiful evening in Wisconsin- THANK YOU for ...,Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-17T20:56:51,6813,543,359,6178,572,39,17,0,7
1,153080620724_10157914483265725,The State Department's quid pro quo scheme pro...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T18:00:41,33768,3644,17653,26649,487,1155,75,191,5211
2,153080620724_10157913199155725,Crooked Hillary's State Department colluded wi...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T15:34:46,85627,8810,32594,73519,2943,1020,330,263,7552
3,153080620724_10157912962325725,"JournoCash: Media gives $382,000 to Clinton, $...","JournoCash: Media gives $382,000 to Clinton, $...",link,http://www.washingtonexaminer.com/journocash-m...,2016-10-17T14:17:24,22696,3665,5082,14029,122,2091,241,286,5927
4,153080620724_10157912187170725,"Exclusive: ""O'Keefe Video Sting Exposes 'Bird-...",O'Keefe Reveals 'Bird-Dogging' to Incite Viole...,link,http://www.breitbart.com/big-government/2016/1...,2016-10-17T12:03:19,40729,4905,17087,26472,178,2588,154,417,10922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4155,153080620724_86348879816,- Check out the official website for Donald Tr...,NaN,status,NaN,2009-04-20T08:44:07,152,43,3,152,0,0,0,0,0
4156,153080620724_96770601006,- Who do you think will be fired on Celebrity ...,NaN,status,NaN,2009-04-19T17:18:16,140,111,6,140,0,0,0,0,0
4157,153080620724_85435041544,Follow Donald J. Trump on Twitter: http://twit...,NaN,status,NaN,2009-04-16T17:44:23,137,60,2,137,0,0,0,0,0
4158,153080620724_71666378535,Watch Donald J. Trump on Larry King Live: http...,NaN,status,NaN,2009-04-16T10:05:34,136,66,0,136,0,0,0,0,0
4159,153080620724_162861335065,Watch Donald Trump on Good Morning America: ht...,NaN,status,NaN,2009-04-16T09:53:00,209,205,9,209,0,0,0,0,0

In [20]:
df.set_index("status_type").loc["photo", :]

,status_id,status_message,link_name,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
status_type,,,,,,,,,,,,,,
photo,153080620724_10157915294545725,Beautiful evening in Wisconsin- THANK YOU for ...,Timeline Photos,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-17T20:56:51,6813,543,359,6178,572,39,17,0,7
photo,153080620724_10157907607315725,Animals representing Hillary Clinton and Dems ...,Timeline Photos,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-16T17:36:36,221845,38411,155816,106317,1207,27889,3941,7340,75152
photo,153080620724_10157898932735725,"The MOVEMENT in Portsmouth, New Hampshire w/ 7...",Timeline Photos,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-15T13:39:48,58277,5481,5110,52926,4517,585,126,8,115
photo,153080620724_10157897465130725,Executive privilege to hide #POTUS emails on C...,Timeline Photos,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-15T11:00:22,35539,3433,8682,25821,278,2790,215,109,6326
photo,153080620724_10157893664950725,"Thank you Charlotte, North Carolina! We are go...",Timeline Photos,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-14T20:21:47,43325,5631,2865,39199,3734,74,186,10,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
photo,153080620724_10150876741720725,"Tonight at 8:00PM EST on QVC, my wife Melania ...",Timeline Photos,https://www.facebook.com/DonaldTrump/photos/a....,2011-10-20T15:25:00,1609,436,102,1609,0,0,0,0,0
photo,153080620724_10150816231630725,"I'm thrilled to be in Australia where over 20,...",Timeline Photos,https://www.facebook.com/DonaldTrump/photos/a....,2011-09-21T16:33:25,3164,702,177,3164,0,0,0,0,0
photo,153080620724_10150370919630725,The people at the www.shouldtrumprun.com have ...,Timeline Photos,https://www.facebook.com/DonaldTrump/photos/a....,2011-01-27T16:33:50,1978,622,246,1978,0,0,0,0,0
photo,153080620724_10150142451675725,"New Yorkers, it's your turn to show me if you ...",Timeline Photos,https://www.facebook.com/DonaldTrump/photos/a....,2010-03-31T16:30:12,612,177,21,612,0,0,0,0,0
photo,153080620724_488852245724,"While she needs no introduction, please welcom...",Timeline Photos,https://www.facebook.com/DonaldTrump/photos/a....,2010-02-23T11:17:06,2306,724,118,2306,0,0,0,0,0

In [21]:
df.loc[df["status_type"] == "photo"]

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,153080620724_10157915294545725,Beautiful evening in Wisconsin- THANK YOU for ...,Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-17T20:56:51,6813,543,359,6178,572,39,17,0,7
10,153080620724_10157907607315725,Animals representing Hillary Clinton and Dems ...,Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-16T17:36:36,221845,38411,155816,106317,1207,27889,3941,7340,75152
20,153080620724_10157898932735725,"The MOVEMENT in Portsmouth, New Hampshire w/ 7...",Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-15T13:39:48,58277,5481,5110,52926,4517,585,126,8,115
23,153080620724_10157897465130725,Executive privilege to hide #POTUS emails on C...,Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-15T11:00:22,35539,3433,8682,25821,278,2790,215,109,6326
27,153080620724_10157893664950725,"Thank you Charlotte, North Carolina! We are go...",Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-14T20:21:47,43325,5631,2865,39199,3734,74,186,10,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3975,153080620724_10150876741720725,"Tonight at 8:00PM EST on QVC, my wife Melania ...",Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2011-10-20T15:25:00,1609,436,102,1609,0,0,0,0,0
3986,153080620724_10150816231630725,"I'm thrilled to be in Australia where over 20,...",Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2011-09-21T16:33:25,3164,702,177,3164,0,0,0,0,0
4057,153080620724_10150370919630725,The people at the www.shouldtrumprun.com have ...,Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2011-01-27T16:33:50,1978,622,246,1978,0,0,0,0,0
4099,153080620724_10150142451675725,"New Yorkers, it's your turn to show me if you ...",Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2010-03-31T16:30:12,612,177,21,612,0,0,0,0,0
4107,153080620724_488852245724,"While she needs no introduction, please welcom...",Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2010-02-23T11:17:06,2306,724,118,2306,0,0,0,0,0