In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/facebook/reaction_counts.csv")

In [3]:
df.head()

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,153080620724_10157915294545725,Beautiful evening in Wisconsin- THANK YOU for ...,Timeline Photos,photo,https://www.facebook.com/DonaldTrump/photos/a....,2016-10-17T20:56:51,6813,543,359,6178,572,39,17,0,7
1,153080620724_10157914483265725,The State Department's quid pro quo scheme pro...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T18:00:41,33768,3644,17653,26649,487,1155,75,191,5211
2,153080620724_10157913199155725,Crooked Hillary's State Department colluded wi...,NaN,video,https://www.facebook.com/DonaldTrump/videos/10...,2016-10-17T15:34:46,85627,8810,32594,73519,2943,1020,330,263,7552
3,153080620724_10157912962325725,"JournoCash: Media gives $382,000 to Clinton, $...","JournoCash: Media gives $382,000 to Clinton, $...",link,http://www.washingtonexaminer.com/journocash-m...,2016-10-17T14:17:24,22696,3665,5082,14029,122,2091,241,286,5927
4,153080620724_10157912187170725,"Exclusive: ""O'Keefe Video Sting Exposes 'Bird-...",O'Keefe Reveals 'Bird-Dogging' to Incite Viole...,link,http://www.breitbart.com/big-government/2016/1...,2016-10-17T12:03:19,40729,4905,17087,26472,178,2588,154,417,10922

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4160 entries, 0 to 4159
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         4160 non-null   object
 1   status_message    3793 non-null   object
 2   link_name         2715 non-null   object
 3   status_type       4160 non-null   object
 4   status_link       2983 non-null   object
 5   status_published  4160 non-null   object
 6   num_reactions     4160 non-null   int64
 7   num_comments      4160 non-null   int64
 8   num_shares        4160 non-null   int64
 9   num_likes         4160 non-null   int64
 10  num_loves         4160 non-null   int64
 11  num_wows          4160 non-null   int64
 12  num_hahas         4160 non-null   int64
 13  num_sads          4160 non-null   int64
 14  num_angrys        4160 non-null   int64
dtypes: int64(9), object(6)
memory usage: 487.6+ KB

In [5]:
df[df["status_message"].isna()].value_counts("status_type")

status_type
photo     322
link       23
video      20
event       1
status      1
dtype: int64

In [6]:
df[(df["status_message"].isna()) & (df["status_type"] == "status")]

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
595,153080620724_10157449931125725,NaN,NaN,status,NaN,2016-08-06T15:47:09,16698,1679,351,15715,835,67,32,5,44

In [7]:
df["status_type"].value_counts()

photo     1539
status    1177
link       764
video      679
event        1
Name: status_type, dtype: int64